  /* span over the entire screen */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #085372;
    opacity: .8;
  }
  /* span over the entire screen */
  .modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
  }
  /* modal with content */
  .modal {
    z-index: 100;
    background: white;
    /* opacity: 0.9; */
    position: relative;
    margin: 8rem auto;
    border-radius: .5rem;
    border: 0.15rem solid var(--background);
    max-width: 80vw;
    padding:1rem;
  }
  /* modal with button to close modal */
  .modal-header {
    display: flex;
    justify-content: flex-end;
  }
  
  button.modal-close-button {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    /* opacity: .3; */
    cursor: pointer;
    border: none;
  }
  
  .modal-header button {
    font-size: .9rem;
    font-weight: 700;
    border: none;
    border-radius: 3px;
    padding: .3rem 1rem;
    margin-left: .5rem;
  }

  .modal_image {
    width:80%;
    aspect-ratio: 1;
    max-width: 500px;
  }
  