footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--background);
    padding: 0.5rem;
  }

  .address {
    
  }

  .address p {
    color: var(--gold);
    text-align: center;
    margin: 0;
    font-size: 0.75rem;
  }
  