main {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

span {
    font-weight:bold;
}
 h1,p {
    color: var(--background);
    margin: 1rem;
 }
 
 .image {
    width: 60vw;
    height: 50vw;
    margin: 1rem;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: .5rem;
}