main {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}


main span {
  font-weight: bold;
}
main h1,
main p {  
  text-align: justify;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section .main_text1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}


section .main_image {
  width: 80vw;
  height: 60vw;
  margin: 1rem;
  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main_event {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.main_center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section .main_video{
  margin: 1rem auto;
}

section video {
  /* width: 15rem; */
  width: 80vw;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
section .main_slider {
  margin: 0 auto;
}


@media screen and (min-width:768px) {
  section {
    flex-direction: row;
  }

  section .main_image {
    width: 50vw;
    height: 40vw;
  }
  .main_center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section .main_text1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:30vw;
  }

  section .main_event {
    display: flex;
    flex-direction: column;
    /* align-items: center; */

  }

  section .main_event   .main_image {
    width: 40vw;
    height: 35vw;
  }

  section .main_1 {
    flex-direction: column-reverse;
  }


  

  section .main_video video{
    width: 40vw;
  }

}

@media screen and (min-width:992px) {

  .main_image {
    width: 40vw;
    height: 25vw;
  }

  .main_text1 p {
    font-size: 1.25rem;
  }
  section .main_video video{
    width: 30vw;
  }


}
