nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background);

  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  /* min-height: 5rem; */
  padding: 0 5%;
}
.hamburger {
  display: none;
}

.nav-menu {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  width: 70%;
}
.nav-menu a {
  color: var(--gold);
}
.request a {
  border: 5px solid var(--gold);
  padding: 0.5rem;
  border-radius: 1rem;
  /* width: 15%; */
  color: var(--gold);
  background-color: var(--background);
}

.cart {
  /* display: none; */
}
svg {
  width: 2rem;
}

/* here not mobile first approach ! */
@media screen and (max-width: 440px) {
  .hamburger {
    display: inline-block;
    cursor: pointer;
    z-index: 20;
  }
  .hamburger p {
    color: var(--gold);
    font-size: 1rem;
    z-index: 20;
  }

  .nav-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: .5rem;
    top: 6rem;
    display: none;
    width: 30%;
    height: 25vh;
    transition: 0.4s;
    z-index: 20;
    background-color: var(--background);
    border-radius: 0.5rem 0 0 0.5rem;
  }
  .nav-menu.active {
    display: flex;
    right: 0;
  }
  .nav-menu a {
    color: var(--gold);
  }
}
