nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--background);

  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  min-height: 5rem;
}

.links {
  display: flex;
  gap: 1rem;
}

.links a {
  color: var(--gold);
}
.request a {
  border: 5px solid var(--gold);
  padding: 0.5rem;
  border-radius: 1rem;
  /* width: 15%; */
  color: var(--gold);
  background-color: var(--background);
}
